@import './variables';

.business-card {
  width: 360px;
  height: 220px;
  display: grid;
  grid-template-columns: 2% 96% 2%;
  grid-template-rows: 4% 92% 4%;
  position: relative;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color: #122529;

  @media (max-width: 1280px) {
    width: 340px;
  }

  img {
    width: 30px;
  }

  p {
    margin: 14px 0;
  }

  .color-grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(8, 50px);
    grid-gap: 8px;
    width: 150px;
    height: 400px;
    transform: rotate(-45deg);

    .color1 {
      background-color: #343536;
      grid-column: 2 / span 2;
      grid-row: 1 / span 3;
    }
    .color2 {
      background-color: white;
      grid-row: 2 / span 5;
    }
    .color3 {
      background-color: white;
      grid-column: 2 / span 2;
      grid-row: 4/7;
    }
    .color4 {
      background-color: #282c34;
      grid-column: 2/4;
      grid-row: 7/9;
    }
  }


  .info-grid {
    color: #343536;
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.363);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.432);
    border-radius: 6px;
    font-size: 0.7rem;
    display: grid;
    grid-template-columns: 15px repeat(3, 1fr) 15px;
    grid-template-rows: repeat(3, 1fr);
    line-height: 1px;

    .name {
      grid-column: 2 / span 2;
      grid-row: 1 / span 1;
      font-size: 1.2em;
      letter-spacing: .1rem;
      margin-top: 16px;

      h5 {
        font-weight: unset;
      }
    }

    .period {
      grid-column: 2 / span 2;
      grid-row: 3;
      @media (max-width: 1280px) {
        font-size: 0.9em;
      }

      p {
        margin-top: 15px;
      }
    }

    .contact {
      grid-column: 3 / span 2;
      grid-row: 3;
      text-align: end;
      font-size: 1em;
      @media (max-width: 1280px) {
        font-size: 0.9em;
      }
    }
  }

  .info-grid.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    p {
      width: 100%;
      height: 100px;
      line-height: 100px;
      font-family: serif;
      margin: 0;
      font-size: 100px;
      color: gray;
      opacity: 0.5;
      text-align: center;
      padding-bottom: 10px;
    }
  }
}

.business-card.empty {
  background: white;
}


.work-card-wrap {
  width:350px;
  border-radius: 40px;
  background-image: $bg-shape-color;
  overflow: hidden;

  .work-card-overview, .work-card-detail {
    padding: 24px;
  }

  .work-card-overview {
    background-image:  linear-gradient(176deg, $lightblue, $darkblue);

    .infos-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      min-height: 200px;
      margin-bottom: 50px;
    }

    .group-text {
      h3 {
        letter-spacing: 3.2px;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
      }
      p {
        font-size: 12px;
        opacity: 0.8;
      }
    }
  }

  .work-card-detail{
    p {
      opacity: 0.8;
      font-size: 15px;
      line-height: 1.5;
    }

    .button-wrap {
      display: flex;
      border-radius: 12px;
      overflow: hidden;
      margin-top: 30px;
      padding: 14px;

      justify-content: end;
      align-items: center;
    }

    .projects-button {
      outline: 0;
      border: 0;
      border-radius: 6px;
      display: flex;
      align-items: center;
      overflow: hidden;
      background-image: linear-gradient(85deg, #61c7ef, #4833fb);
      color: white;
      cursor: pointer;

      p {
        padding: 8px 17px;
        border-right: 1px solid rgba(0,0,0,0.4);
      }

      div {
        border-left: 1px solid rgba(255,255,255,.2);
        padding: 5px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255,255,255,0.7);
      }
    }
  }
}




$trans: all 0.4s ease 0s;

.project-list-wrap {
  width: 100%;
  padding: 0;
  margin: 0;
}

.project-item {
  --deg: 86;

  margin: 1.5em 0 0.5em;
  padding: 0.73em;
  background: linear-gradient(
                  83deg,
                  $b2 0, $b2 97%,
                  #fff0 calc(97% + 1px), #fff0 100%
  );
  position: relative;
  list-style: none;
  display: inline-block;
  transform: scale(0.85);
  transition: $trans;

  .thumb {
    width: 160px;
    height: 160px;
    float: left;
    margin-right: 1.25em;
    background: linear-gradient(
                    var(--deg),
                    $dark 0, $dark 70%,
                    $b2 0, $dark 100%
    );
    transform: rotate(-4deg);
    transition: $trans;
    border-radius: 0.25em;
    overflow: hidden;
    margin-left: -3em;
    padding: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 90%;
      height: 95%;
      border-radius: 0.25em;
      filter: grayscale(1);
      background: $dark;
    }
  }

  .description {
    padding-top: 1vmin;

    h3 {
      background: $dark;
      display: inline;
      transform: rotate(-2deg);
      position: absolute;
      margin: -2.25em 0 0;
      left: 9vmin;
      padding: 0.5em 0.75em;
      color: $b2;
      border-radius: 0.25em;
      font-size: 1.2em;
      transform-origin: left bottom;
    }

    p {
      padding: 7px;
    }

    .detail {
      font-family: "MaruBuri SemiBold", serif;
    }

    .tags-wrap {
      display: flex;
      gap: 5px;
      justify-content: right;
      flex-wrap: wrap;
      padding-right: 10px;
    }

    span {
      display: inline-block;
      margin: 0.5em 0 0 0;
      background: $dark;
      color: $b2;
      padding: 0.4em;
      border-radius: 0.5em;
      text-decoration: none;
      transition: $trans;
    }

    span:hover {
      transition: $trans;
      color: $dark;
      background: $b2;
      font-weight: bold;
    }
  }
}


//@for $i from 1 through 10 {
//  .project-item:nth-child(#{$i}) {
//    animation-delay: 0.1s * ($i - 1);
//  }
//}

.project-item:nth-of-type(even) {
  text-align: right;
  background: linear-gradient(
                  -83deg,
                  $b2 0 97%,
                  #fff0 calc(97% + 1px) 100%
  );

  .thumb {
    --deg: 86deg;
    float: right;
    margin-left: 2em;
    margin-right: -3em;
    transform: rotate(4deg);
  }

  .tags-wrap {
    justify-content: left;
    padding-left: 10px;
  }

  h3 {
    left: inherit;
    right: 9vmin;
    transform: rotate(2deg);
    transform-origin: right bottom;
  }
}

.project-item:hover {
  transform: scale(1);
  transition: $trans;
  filter: drop-shadow(0px 20px 10px #0008);

  .thumb {
    padding: 0.2em;
    transition: $trans;
    transform: rotate(-1deg);
    --deg: -89deg;

    img {
      filter: none;
      transition: $trans;
    }
  }

  h3 {
    transition: $trans;
    transform: rotate(0deg);
  }
}

.project-item:nth-of-type(even):hover .thumb {
  --deg: 91deg;
}