@font-face {
  font-family: 'Jalnan';
  src: url('../assets/fonts/Jalnan2TTF.ttf');
}

//@font-face {
//  font-family: 'MaruBuri Light';
//  src: url('../assets/fonts/MaruBuri-Light.ttf');
//}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  margin: 0;
  color: white;
  font-family: "Jalnan", serif;
  letter-spacing: 2px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin: 0;
}

#root {
  background-image: url("../assets/img/background.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#root:before {
  background: black;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.container {
  margin: auto;
  max-width: 1280px;
  //max-width: 1600px;
  min-height: 100vh;
}