@import './variables';

.loading {
  margin: -45px -60px;
  width: 120px;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading.hide {
  display: none;
}

.dot {
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 30px;
  left: 27px;
  transform-origin: center bottom;
  animation: dot .6s ease-in-out infinite;
}

@-webkit-keyframes dot {
  0% { transform: scale(1,.7) }
  20% { transform: scale(.7,1.2) }
  40% { transform: scale(1,1)}
  50% { bottom: 100px;}
  46% { transform: scale(1,1)}
  80% { transform: scale(.7,1.2) }
  90% { transform: scale(.7,1.2) }
  100% { transform: scale(1,.7) }
}

.step {
  position: absolute;
  width: 30px;
  height: 30px;
  border-top: 2px solid white;
  top: 0;
  right:0;
}

.step.hide {
  display: none;
}

#s1 { animation: step-anim 1.8s linear infinite; }
#s2 { animation: step-anim 1.8s linear infinite -.6s; }
#s3 { animation: step-anim 1.8s linear infinite -1.2s; }

@-webkit-keyframes step-anim {
  0% {
    opacity: 0;
    top: 0;
    right: 0;
  }
  50% { opacity: 1; }
  100% {
    top: 90px;
    right: 90px;
    opacity: 0;
  }
}

.main-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: $app-top;

  @media (max-width: 1280px) {
    flex-direction: column;
  }
}

.top-icon {
  width: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.main-left {
  display: flex;
  align-items: center;
  width: 50%;
  flex-direction: column;
  height: 80vh;
  position: -webkit-sticky;
  position: sticky;
  top: $app-top;

  @media (min-width: 1280px) {
    div:nth-child(1), div:nth-child(2) {
      width: 80%;
    }
  }

  @media (max-width: 1280px) {
    width: 100%;
    height: auto;
    position: initial;

    div:nth-child(1) {
      width: 300px;
    }

    div:nth-child(2) {
      display: none;
    }
  }
}

.main-right {
  display: flex;
  width: 50%;
  flex-direction: column;

  @media (max-width: 1280px) {
    width: 100%;
  }
}

.fade {
  animation: fade-anim 2s;
}

@-webkit-keyframes fade-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  letter-spacing: 5px;
  font-size: 60px;
}

.title.sub {
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 5px;
}

.desc {
  font-family: "Jalnan", serif;
  font-size: 14px;
  margin-top: 5px;
  color: $dark-gray;
}

.nav.ul {
  padding: 0;
  margin-top: 150px;
  height: 50vh;
}

.nav.li {
  font-size: 20px;
  width: 200px;
  height: 20%;
  list-style: none;
  opacity: 0.5;
  cursor: pointer;
}

.nav.li.show {
  opacity: 1;
}

.section-wrapper {
  position: relative;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes skills-anim {
  0% {
    left: -500px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.skills {
  width: 80%;
  height: auto;

  @media (max-width: 1280px) {
    max-width: 600px;
  }

  p {
    z-index: 2;
    color: white;
    padding: 15px;
    margin: 10px 0;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #ffffff22;
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
  }

  span {
    border-radius: 8px;
  }

  div {
    padding-top: 5px;
    span:nth-child(1) {
      z-index: -2;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      margin: auto;
      background: white;
      height: 100%;
      width: 100%;

    }

    span:nth-child(2) {
      z-index: -1;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      background: #282c34 linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(0, 16, 32, 0.5) 100%);
      height: 100%;
      animation: skills-anim 1.25s cubic-bezier(.17,.67,0,1);
    }
  }


  @each $val in $percentages {
    .percent-#{$val} {
      width: percentage(calc($val / 100));
    }
  }
}


.project-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
