$app-top: 120px;

$dark: #31363F;
$dark2: #2f313a;
$dark-gray: #A9A9A9;

$b: #5aa8e8;
$b2: #498BBD;
$g: #7FD31C;
$bg-shape-color:linear-gradient(120deg,  #343A4F, #0F1620) ;
$lightblue: #3D9DEA;
$darkblue: #4A4EEE;
$text-color: #D5E1EF;

$percentages: 25, 50, 75;


