@font-face {
  font-family: 'nanum';
  src: url('../font/NanumBarunGothicBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'nanum';
  src: url('../font/NanumBarunGothicLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'nanum';
  src: url('../font/NanumBarunGothic.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}


body {
  font-family: 'nanum', serif;
  margin: 0;
  min-width: 375px;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  margin: 0;
}


:root {
  --rt-color-white: #fff;
  --rt-color-dark: #222;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
  --rt-transition-show-delay: 0.15s;
  --rt-transition-closing-delay: 0.15s;
}